/* css reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* end of css reset */

.main{
    /* border: 3px solid; */
    width: 100vw;
    height: 100vh;
    background-color: #ccc;

}

header{
    background: rgb(98,98,99);
    background: linear-gradient(90deg, rgba(98,98,99,1) 0%, rgba(0,0,3,1) 46%);
    height: 70px;
    position: sticky;

}

nav{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    }


    .logo{
         width: 110px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo{
        width: 60%;
    }

    #dove{
        width: 30%;
    }

    .navbar{
        /* border: 1px solid white; */
        width: 550px;
        height: 100%;
        color: white;
    }

    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        }
        .listing{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

    .nav-item{
        /* border: 1px solid; */
        /* float: left; */
        display: inline-block;
        color: white;
        text-align: center;
        padding: 10px 12px;
        /* margin: 10px;
        padding: 10px;
        list-style-type: none; */
    }
    .nav-item:hover{
        background-color: #302f2f;
    }

    .right-buttons{
        border-radius: 10%;
        /* border: 2px solid red; */
        align-content: center;
        justify-content: space-evenly;
        width: 400px;
        }

    .open_account{
        background: rgb(255,195,0);
        background: linear-gradient(90deg, rgba(255,195,0,1) 0%, rgba(216,168,14,1) 56%);
        height: 60%;
        width: 30%;
        border-radius: 8%;
        border: none;
        align-content: center;
        justify-content: space-evenly;
        margin: 10px;
        justify-content: flex-end;
        right: 10px;
   
    }

    .open_account:hover{
        background: rgb(162,128,17);
        background: linear-gradient(90deg, rgba(162,128,17,1) 0%, rgba(165,149,96,1) 56%);
    }

    .signin{
        background: rgb(255,195,0);
        background: linear-gradient(90deg, rgba(255,195,0,1) 0%, rgba(216,168,14,1) 56%);
        height: 60%;
        width: 30%;
        border-radius: 8%;
        border: none;
        align-content: center;
        justify-content: space-evenly;
        margin: 10px;
        right: 10px;
        margin-right: 20px;
    }
    .signin:hover{
        background: rgb(162,128,17);
        background: linear-gradient(90deg, rgba(162,128,17,1) 0%, rgba(165,149,96,1) 56%);
    }

    .web{
        border-radius: 8%;
        border: none;
        align-content: center;
        justify-content: space-evenly;
        /* right: 50%; */
        right: 30px;
    }
    .hero{
       margin: -10px;
        height: 380px;
        background-image: url(https://images.ctfassets.net/o9uqivq4bpuc/zJdDpdyioFIIqbouqkiit/b098f9d05b13c2f7805ed87c5bd2ebef/b2b-home-page-header-desktop.jpg?w=992&h=325&fl=progressive&q=85&fm=jpg);

        /* background-image: url(https://images.ctfassets.net/o9uqivq4bpuc/zJdDpdyioFIIqbouqkiit/b098f9d05b13c2f7805ed87c5bd2ebef/b2b-home-page-header-desktop.jpg); */
        /* background-position: left; */
        /* background-size: 100%; */

        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        /* border: 5px solid blue; */
    }

    .mainbackg{
        /* background-image: url(https://images.ctfassets.net/o9uqivq4bpuc/zJdDpdyioFIIqbouqkiit/b098f9d05b13c2f7805ed87c5bd2ebef/b2b-home-page-header-desktop.jpg?w=992&h=325&fl=progressive&q=85&fm=jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain; */
        /* border: 5px solid rgb(82, 31, 31); */
    
        position: relative;
        display: flex;
        height: 100%;
        flex-direction  : column ;
        justify-content: center;
    }
    .text_for_hero{
        display: block;
        margin-block-start: 1em ;
        margin-block-end: 1em;
        margin-block-start: 0px;
        margin-inline-end: 0px;
        flex-direction  : column ;
        color: white;
        transform: translateX(20PX) translateY(80px);
        

    }

    .title_for_hero{
        display: block;
        margin-block-start: 10xem ;
        margin-block-end: 10em;
        margin-block-start: 0px;
        margin-inline-end: 0px;
        flex-direction  : column ;
        justify-content: center;
        color: white;
        transform: translateX(20PX) translateY(80px);
    }

    .requestmoreinfo{
        background: rgb(255,195,0);
        background: linear-gradient(90deg, rgba(255,195,0,1) 0%, rgba(216,168,14,1) 56%);
        align-items: center;
        justify-content: center;
        justify-self: center;
        position: relative;
        vertical-align: middle;
        width: 25%;
        text-size-adjust: 100%;
        height: 60px;
        border-radius: 4px;
        border: none;
        align-content: center;
        align-self: baseline;
        bottom: 15  0px;
        padding: 10px
        
        
    }
    
    .requestmoreinfo:hover{
        background: rgb(162,128,17);
        background: linear-gradient(90deg, rgba(162,128,17,1) 0%, rgba(165,149,96,1) 56%);
    }

    .bodily_title{
            text-align: center;
            margin: 10px;
            font-weight: 600;
            font-size: 28px;
            margin-bottom: 16px;
            display: block;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-size-adjust: 100%;
    }
    .bodily_phrase{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
    
    .units{
            /* content: "";
            clear: bo:afterth;
            display: table; */
        overflow: auto;
            padding: 10px;
            margin: 10px;
            color: #0f171c;
            border: 2px solid blue;
            border-radius: 8px;
            height: 100%;
            font-weight: 400;
            font-size: 1rem;
            width: 450px;
            display: flex;
            justify-content: space-between;
            flex-flow: row ;
    }
    .transparency{
        background: #F4F5F6;
        border-radius: 8px;
        text-size-adjust: 100%;
        font-weight: 400;
        font-size: 1rem;
        justify-self: self-start;

    }

    h4{
        margin-bottom: 8px;
        margin: 0;
        font-weight: 600;
        font-size: 18px;

    }
    
    .liquidity{
        
        float: right;
        align-self: center;
        background: #F4F5F6;
        border-radius: 8px;
        justify-content: space-around;
        left: -200px;
        /* margin: 20px; */
        top: 0px;
        text-size-adjust: 100%;
        font-weight: 400;
        font-size: 1rem;
        justify-self: flex-end;
        /* position: absolute;
        left: 430px;
        background: #F4F5F6;
        border-radius: 8px;
        width: 300px;
        height: 100px;
        border: 3px solid #73AD21;
        padding: 10px;
        top: 60px
          
        border-radius: 8px; */
    }

    .liquid{
        margin-bottom: 8px;
        margin: 0;
        font-weight: 600;
        font-size: 18px;
    }
/* .box{float: left;
    width: 33.33%;
    padding: 2%;} */

    .features{
        background-color: white;
        min-height: 500px;
       width: 100vw;

    }
    .main_features{
        display: flex;
        padding: 50px 100px;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        

    }
    
    .feature_list{
        background-color: #ecece1e1;
        width: 27.3%;
        height: 200px;
        /* border: 1px solid; */
        margin: 20px;
        border-radius: 3%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        


    }