/* css reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* end of css reset */

.main{
    /* border: 3px solid; */
    width: 100vw;
    height: 100vh;
    background-color: #ccc;

}

header{
    background: rgb(98,98,99);
    background: linear-gradient(90deg, rgba(98,98,99,1) 0%, rgba(0,0,3,1) 46%);
    height: 70px;

}

nav{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    }


    .logo{
         width: 110px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo{
        width: 60%;
    }

    #dove{
        width: 30%;
    }

    .navbar{
        /* border: 1px solid white; */
        width: 550px;
        height: 100%;
        color: white;
    }

    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        }

    .nav-item{
        /* border: 1px solid; */
        margin: 10px;
        padding: 10px;
        list-style-type: none;
    }
    .right-buttons{
        border-radius: 10%;
        /* border: 2px solid red; */
        align-content: center;
        justify-content: space-evenly;
        width: 400px;
        
   

    }
    .open_account{
        background: rgb(255,195,0);
        background: linear-gradient(90deg, rgba(255,195,0,1) 0%, rgba(216,168,14,1) 56%);
        height: 60%;
        width: 30%;
        border-radius: 8%;
        border: none;
        align-content: center;
        justify-content: space-evenly;
        margin: 10px;
        justify-content: flex-end;
        right: 10px;
   
    }

    .signin{
        background: rgb(255,195,0);
        background: linear-gradient(90deg, rgba(255,195,0,1) 0%, rgba(216,168,14,1) 56%);
        height: 60%;
        width: 30%;
        border-radius: 8%;
        border: none;
        align-content: center;
        justify-content: space-evenly;
        margin: 10px;
        right: 10px;
        margin-right: 20px;
    }

    .web{
        border-radius: 8%;
        border: none;
        align-content: center;
        justify-content: space-evenly;
        /* right: 50%; */
        right: 30px;
    }